* {
  box-sizing: border-box;
  padding:    0;
  margin:     0;
}

ul {
  list-style: none;
}

#cats {
  max-width: 970px;
  margin:    0 auto;
}

.cat {
  background:    #EEE;
  padding:       2rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  text-align:    center;
  box-shadow:    0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.cat .name {
  font-size: 2rem;
}

.cat .food {
  font-size: 1.5rem;
}

.cat img {
  width:            100%;
  border-radius:    5px;
  border:           1px solid #333;
  background-color: #FFF;
  padding:          1.5rem;
  margin-top:       1rem
}
